# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Kustova_5.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\CSharp\Kustova_5\.idea\.idea.Kustova_5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
